:root{
    --mainBlue : #2832c2;
    --baseFont : bahnschrift;
    --fontGray : #6a6a6a;
    --backGroundGray : #dddddd;
    --whiteGray : #f2f3f5;
}
body{
    margin: 0;
    padding: 0;
    height: 110vh;
    background-color: var(--whiteGray);
}
#content{
    height: 290vh;
    width: 100%;
    background-color: var(--whiteGray) ;
}
#user-management{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.user-management-div{
    height: 94%;
    background-color: white;
    border-radius: 5px;
    width: 100%;
}
#show-user-data{
    width: 26%;
    padding-top: 30px;
}
#show-users-list{
    width: 70%;
}

#search-user{
    width: 100%;
    height: 40px;
    padding: 7px;
    background-color: var(--whiteGray);
    border: none;
    padding-left: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#search-user::placeholder{
    font-family: var(--baseFont);
    font-size: 16px;
}
#search-btn{
    height: 40px;
    border: none;
    font-family: var(--baseFont) !important;
    margin-left: 5px;
    color: var(--fontGray);
    width: 100%;
    background-color: var(--whiteGray);
    transition: 0.2s ease-in-out;
    border-radius: 5px;
    margin-bottom: 10px;
}

#search-btn:active{
    transform: scale(0.9);
}
.search-container select{
    height: 40px;
    width: 100%;
    background-color: var(--whiteGray);
    font-family: var(--baseFont);
    color: var(--fontGray);
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    padding-left: 12px;
}
#input-filter{
    width: 86%;
    margin: 0 auto;
    height: auto;
}
#reset-data-list{
    height: 40px;
    border: none;
    font-family: var(--baseFont) !important;
    color: var(--fontGray);
    width: 100%;
    background-color: var(--whiteGray);
    transition: 0.2s ease-in-out;
    border-radius: 5px;
    margin-bottom: 10px;
}
#reset-data-list:active{
    transform: scale(0.9);
}
#show-user-data h5{
    color: black;
    font-family: var(--baseFont);
    margin-left: 32px;
    margin-bottom: 30px;
    color: var(--fontGray);
}
#search-filter{
    height: 40px;
    width: 100%;
    border: none;
    background-color: var(--whiteGray);
    font-family: var(--baseFont);

}

#input-filter i{
    font-family: var(--baseFont);
    color: var(--fontGray);
    margin-right: 7px !important;
}
#database-handle{
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
#show-users-list button{
    margin: 20px;
}
#reset-list-btn{
    margin-left: 0 !important;
    margin-right: 0 !important;
}
#insert-user-btn{
    margin-right: 10px !important;
    margin-left: auto;
}
#show-users-list h5{
    color: var(--fontGray);
    font-family: var(--baseFont);
    margin-top: 10px;
}
.label-insert-modal{
    width: 86%;
    display: flex;
    margin-left: 20px;
    color: var(--fontGray);
    font-family: var(--baseFont);
}