:root{
    --mainBlue : #2832c2;
    --baseFont : bahnschrift;
    --fontGray : #6a6a6a;
    --backGroundGray : #dddddd;
    --whiteGray : #f2f3f5;
}
body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: var(--whiteGray);
}

#user-management{
    min-height: 90vh;
    display: flex;
    justify-content: space-around;
}
.user-management-div{
    min-height: 96%;
    background-color: white;
    border-radius: 5px;
    width: 100%;
    margin: 10px 0;
}
#show-user-data{
    width: 23%;
    padding-top: 30px;
    position: absolute;
}
#show-users-list{
    width: 96%;
}

#search-user{
    width: 100%;
    height: 40px;
    padding: 7px;
    border: 0.8px solid var(--backGroundGray) !important;
    padding-left: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#search-user::placeholder{
    font-family: var(--baseFont);
    font-size: 16px;
}
/* #search-btn{
    height: 40px;
    border: none;
    font-family: var(--baseFont) !important;
    margin-left: 5px;
    color: var(--fontGray);
    width: 100%;
    background-color: var(--whiteGray);
    transition: 0.2s ease-in-out;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-bottom: 40px;
}

#search-btn:active{
    transform: scale(0.9);
} */
/* .search-container select{
    height: 40px;
    width: 100%;
    background-color: var(--whiteGray);
    font-family: var(--baseFont);
    color: var(--fontGray);
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    padding-left: 12px;
} */
/* #input-filter{
    width: 86%;
    margin: 0 auto;
    height: auto;
} */
#reset-data-list{
    height: 40px;
    border: none;
    font-family: var(--baseFont) !important;
    color: var(--fontGray);
    width: 100%;
    background-color: var(--whiteGray);
    transition: 0.2s ease-in-out;
    border-radius: 5px;
    margin-bottom: 10px;
}
#reset-data-list:active{
    transform: scale(0.9);
}
#show-user-data h5{
    color: black;
    font-family: var(--baseFont);
    margin-left: 32px;
    margin-bottom: 30px;
    color: var(--fontGray);
}
/* #search-filter{
    height: 40px;
    width: 100%;
    border: none;
    background-color: var(--whiteGray);
    font-family: var(--baseFont);

}

#input-filter i{
    font-family: var(--baseFont);
    color: var(--fontGray);
    margin-right: 7px !important;
} */
#database-handle{
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    height: 70px;
}
#show-users-list button{
    margin: 20px;
}
#reset-list-btn{
    margin-left: 0 !important;
    margin-right: 0 !important;
}
#call-modal-signin{
    margin-right: 10px !important;
    margin-left: auto;
}
#show-users-list h5{
    color: var(--fontGray);
    font-family: var(--baseFont);
    margin-top: 10px;
}
#send-user-data{
    margin-left: auto;
}
.table-col th{
    font-weight: bold;
    color: #6a6a6a;
}
#users-data-board{
    max-width: 96%;
    margin: 0 auto;
    font-size: 15px;
}
#label-div{
    margin: 20px;
    margin-top: 30px;
    margin-left: 0;
    color: var(--fontGray);
    font-family: var(--baseFont);
}
.st-data{
    font-family: var(--baseFont);
    color: var(--fontGray);
}
.st-data th,
.st-data td{
    color: var(--fontGray);
}
/*  */
